/* ---- CSS reset ---- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* ---- typography ---- */
  
  body {
    color: white;
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  /* ---- layout ---- */
  
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }

  /*------ Isabel ------*/

  .parent-container {
    background-color: #111;
    height: 100%;
  }

  .splash-screen-container { /*do a div inside the container -> the container of one color, and the div with the background*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: url('img/The-magic-potion.jpg');
    /*background: url('../img/The-magic-potion.jpg');*/
    background-size: cover;
    background-position: center;
  }

  .final-screen-container {
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    height: 100%;
  }

  .div {
    height: 55%;
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url('img/The-magic-potion.jpg');
    /*background: url('../img/The-magic-potion.jpg');*/
    background-size: cover;
    background-position: center;
  }

  h1 {
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: #FFD700 5px -5px 9px;
  }

  h2 {
    margin: 0 auto;
    color: white;
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #FFA500 5px -5px 9px;
  }

  p {
    width: 750px;
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: center;
    color: white;
    text-shadow: #FFA500 5px -5px 9px;
  }

  #button {
    padding: 90px 20px 30px 20px;
    font-size: 1.4em;
    font-family: Comic Sans MS;
    color: white;
    background: url("img/potion.png");
    /*background: url("../img/potion.png");*/
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
  }

  #button:hover {
    transform: scale(1.1);
  }

  #button:focus {
    outline: 0;
  }

  /*------ Isabel ------*/

  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px; /* Resizes the container to 728px for large screens */
      margin: 0 auto;
    }
  }
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }